
/* psuedo classes states */
h1:hover{
    background-color: blue;
}

button:hover{
    color:red;
}

input:focus{
    background-color: hotpink;
}

button:focus{
    border-radius: 10px;
    background-color: khaki;
}

button:active{
    background-color: yellow;
    font-size: 30px;
}

h1:active, p:active{
    color: yellow;
    font-size: 30px;
}
