
/* psuedo classes states */
h1:hover{
    background-color: blue;
}

button:hover{
    color:red;
}

input:focus{
    background-color: hotpink;
}

button:focus{
    border-radius: 10px;
    background-color: khaki;
}

button:active{
    background-color: yellow;
    font-size: 30px;
}

h1:active, p:active{
    color: yellow;
    font-size: 30px;
}

.btn{
    outline:none;
    border: none;
    cursor: pointer;
    display:block;
    position: relative;
    background-color: turquoise;
    font-size: 16px;
    font-weight: 300;
    color:white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding:25px 80px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 6px greenyellow ;
}

.btn:hover{
    box-shadow: 0 3px greenyellow ;
    top: 2px;
}

.btn:active{
    box-shadow:none;
    top: 6px;
}

p{
    width: 50px;
    height: 50px;
    background-color: #1abc9c;
}
p.move-right{
    background-color: khaki;
    transform: translateX(100px);
}

p.move-down{
    background-color: khaki;
    transform: translateY(200px);
}

p:hover{
    transform: translate(20px, 20px);
}

.transform-scaling{
    width: 50px;
    height: 50px;
    background-color: #18db63;
    color: blue;
    border: 2px solid yellow;
    transform: translateY(200px);
    transform: scaleY(2, 5);
    transform-origin: right bottom;
}

h4{
    width: 50px;
    height: 50px;
    background-color: #da3d93;
    color: rgb(39, 38, 38);
    border: 2px solid rgb(184, 184, 57);
    transform: translateY(200px);
    transform: translateY(200px);
  
}

h5{
    width: 50px;
    height: 50px;
    color: rgb(39, 38, 38);
    border: 2px solid rgb(184, 184, 57);
    background-color: yellow;
    transform: translateY(200px);
}

.transform-rotating{
    width: 50px;
    height: 50px;
    color: rgb(39, 38, 38);
    border: 2px solid rgb(184, 184, 57);
    background-color: yellow;
    transform: rotate(48deg) scale(1.5) translate(200px);
    transform-origin: right bottom;
   
}

