p{
    background-color: yellow;
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
    color:rgb(71, 43, 43);
    font-size: 17px;
    border-radius: 20px;
}

 p:hover{
    background: #e74c3c;
    transform-origin: top left;
    transform:scale(2) rotate(45deg);
    border-radius: 50px;
    opacity: 0.5;
}

.animated-box{
    transition-property: background, border-radius;
    transition-duration: 5s, 1s;
    transition-delay: 2s, 0.5s;
} 
.animated-box{
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: ease-in;
}

p:hover{
    transform: translateX(300px);
} 

/* .animated-box{
    transition: transform 2s ease-out 1s, background-color 0.5s linear;
} */
